.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contenedor{
    position: relative;
    display: block;
    text-align: center;
    background: url(../img/center-banner.jpg) center;
}
 
.centrado{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.title{
  text-align: center;
  color:white;
  font-weight: 10!important;
  margin-top: 40px;
}

.login-title{
  text-align: center; 
  color: white; 
  font-size: 12px;
}

.footer-contenedor{
   background-color: #545454;
   margin-bottom: -50px;
   margin-top: -30px;
}

.tr-style{
   background: #2a91d6;
   color: white;
   font-weight: normal;
   font-size: 13px;
  } 

  .title-table{
    margin-top: 50px;
    font-weight: normal;
    font-size: 24px;
  }

.margen-posterior{
  margin-bottom: 15px;
}